.inicio-container {
    background-color: #fff;
    display: flex;
    height: 100vh;
}

/*PANEL DE USUARIO*/
.panel-user {
    width: 20%;
    background-color: #171717;
}

.panel-user-divimg {
    width: 55%;
    border-radius: 50%;
    background-color: #ff0000;
    padding: 7%;
    margin-top: 5%;
    margin-left: 20%;
}

.panel-user-img {
    width: 100%;
}

.panel-c {
    margin-top: 5%;
}

.panelc-h {
    margin-left: 5%;
}

.panelc-d {
    margin-left: 10%;
}

.panelc-btn {
    background-color: #ff0000;
    color: #fff;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    border: none;
    margin-top: 5%;
    margin-left: 25%;
}

/*PANEL ELEMENTS*/
.panel-elements {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
}

.paneles-item {
    flex: 1 1 33.33%;
    text-align: center;
    color: #000;
}

.paneles-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 15%;
}

.paneles-btn {
    background-color: #ff0000;
    border-radius: 50%;
    border: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    align-items: center;
}

.paneles-btn:hover {
    width: 170px;
    height: 170px;
    background-color: #c40303;
    transition: 2s;
}

.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.panel-elements {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
}

/* Añadir animaciones y efectos */
.panel-elements:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}