body {
  color: #c7a200;
}

.container1 {
  margin-top: 3%;
  text-align: center;
}

.img-logo {
  width: 20%;
  display: inline;
}

/*FORMULARIO*/
.container-u {
  margin-left: 36%;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 1em;
  color: rgb(255, 255, 255);
  font-size: 2em;
}

.container2,
.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #ffffff;
  box-shadow: inset 2px 5px 10px rgb(255, 255, 255);
}

.container2-input,
.container3-input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .container4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.container4-button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  cursor: pointer;
}

.container4-button1:hover {
  background-color: rgb(48, 247, 9);
  color: white;
}

.container4-button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  cursor: pointer;
}

.container4-button2:hover {
  background-color: rgb(235, 173, 30);
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  cursor: pointer;
}

.button3:hover {
  background-color: #ff0000;
  color: white;
}

/*RESPONSIVE*/
@media (max-width: 970px) {
  .img-logo {
    width: 35%;
  }

  .form {
    width: 40%;
  }
}

@media (max-width: 960px) {
  .form {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .form {
    width: 60%;
  }
}


@media (max-width: 600px) {
  .container1 {
    display: none;
  }

  .container-u {
    margin-left: 2%;
    margin-top: 40%;
  }
}

@media (max-width: 550px) {
  .form {
    width: 80%;
  }

  .container-u {
    margin-left: 0.1%;
    margin-right: 0.1%;
  }
}