body {
  height: 100vh;
  margin: 0;
  background-color: #ee9037;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-logo {
  width: 35%;
  max-width: 400px;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 2em;
  background-color: #252525;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.error-message {
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

@media (max-width: 600px) {
  .img-logo {
    width: 65%;
  }

  .form {
    width: 80%;
  }
}