/* Mejoras generales */
.seccion {
    padding: 20px;
    background-color: #ee9037;
    min-height: 100vh;
    color: #ffffff;
}

.card {
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
    color: #2d3748;
    /* Un gris oscuro para contraste */
    font-weight: bold;
}

p {
    color: #4a5568;
    /* Tonalidad de texto mejorada */
    font-size: 1rem;
}

button {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1a202c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.navbar-container h1 {
    font-size: 1.8rem;
    color: #edf2f7;
    margin: 0;
}

.navbar-container .nav-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.navbar-container .nav-links a,
.navbar-container .nav-links button {
    color: #cbd5e0;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-container .nav-links a:hover,
.navbar-container .nav-links button:hover {
    color: #424242;
}

.navbar-container .dropdown-menu {
    background-color: #2d3748;
    color: white;
}

.navbar-container .dropdown-menu a {
    color: #cbd5e0;
}

.navbar-container .dropdown-menu a:hover {
    color: #222222;
}

/* Toast personalizado */
.custom-toast {
    background-color: #222831;
    /* Fondo oscuro */
    color: #eeeeee;
    /* Texto claro */
    border: 2px solid #00adb5;
    /* Borde azul claro */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    /* Sombra */
}

.custom-toast-header {
    background-color: #00adb5;
    /* Color de cabecera */
    color: #ffffff;
    /* Texto blanco */
    font-weight: bold;
    /* Texto en negrita */
    border-bottom: 2px solid #eeeeee;
    /* Separador de la cabecera */
}

.custom-toast-body {
    font-size: 1rem;
    /* Tamaño del texto */
    padding: 10px;
    /* Espaciado interno */
}

.custom-toast-error {
    background-color: #ff4c4c;
    color: white;
}

.custom-toast-warning {
    background-color: #ffcc00;
    color: black;
}

.custom-toast-success {
    background-color: #4caf50;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-container .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}