* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
}

.container-form {
    display: flex;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 950px;
    max-width: 1300px;
    transition: all 1s ease;
    margin: 10px;
    border-radius: 20px;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs-h2 {
    font-size: 2.5rem;
    color: #ffffff;
}

.info-childs-p {
    margin: 15px 0;
    color: #ffffff;
}

.info-childs-input {
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    transition: background-color .3s ease;
}

/*  
.info-childs-input:hover{
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow : 0 2px 5px rgba(0,0, 0, .1);
}*/

.form-information {
    width: 60%;
    background-color: #1f1f1f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.form-information-childs {
    padding: 0 30px;
    width: 100%;
}

.form-information-childs-h2 {
    color: #ffffff;
    font-size: 4rem;
}

.form-register {
    margin: 30px 0 0 0;
}

.form-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.form-label,
.info-childs-input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}


/* Responsive */
@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }

}

@media screen and (max-width:500px) {
    html {
        font-size: 10px;
    }

    .container-form {
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}